body {
    font-family: 'Arial', sans-serif;
    background-color: #ecf5e6; /* Light green background color */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: flex-start;;
}

#quiz-title {
    color: #ffffff; /* White text color for quiz header */
    background-color: #5f9e5f; /* Green background color for quiz header */
    padding: 10px;
    border-radius: 8px;
    font-size: 36px; /* Bigger font size for the title */
    font-weight: bold;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

/* Container for option containers and buttons */
.options-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    box-sizing: border-box;
}

/* Option container styling */
.option-container {
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    flex: 1; /* Equal width for each container */
    max-width: 400px; /* Adjust as needed */
    box-sizing: border-box;
    text-align: center;
}

#option-container-left {
    width: 400px;
    text-align: center;
    background-color: white;
}

#option-container-center {
    width: 400px;
    text-align: center;
    background-color: white;
}

#option-container-right {
    width: 400px;
    text-align: center;
    background-color: white;
}

.option-heading {
    color: #ffffff; /* White text color for option headings */
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    background-color: #5f9e5f;
}

.option-text {
    color: #000000; /* Black text color */
    font-size: 16px;
}

/* Button styling */
.quiz-button {
    background-color: #5f9e5f; /* Green background color for buttons */
    color: #ffffff; /* White text color for buttons */
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 12px; /* Smaller font size */
    cursor: pointer;
    width: 250px; /* Set to 50% of the parent container */
    box-sizing: border-box;
}

/* Container for buttons */
#button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    box-sizing: border-box;
    margin: 100px;
}

/* Positioning the buttons under their corresponding containers */
#ButtonLeft {
    align-self: flex-start;
}

#ButtonCenter {
    align-self: center;
}

#ButtonRight {
    align-self: flex-end;
}