body {
    font-family: Arial, sans-serif;
    background-color: #B4E051;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    max-width: 50%;
}

.images {
    display: flex;
    width: 100%;
}

.section {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

h2 {
    color: #1E5B0F;
    margin-bottom: 15px;
}

p {
    text-align: justify;
    line-height: 1.4;
    margin-bottom: 15px;
}

img {
    width: 500px;
    border-end-end-radius: 50px;
    border-top-left-radius: 150px;
}

button {
    height: 50px;
    width: 50px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
  
  .button-one {
    background-color: #293132;
    
  }
  
  .button-two {
    background-color: #474044;
    border-radius: 5px;
  }
  
  .button-three {
    background-color: #B4E051;
    border-radius: 10px;
    
  }
  
  .button-four {
    background-color: #547aa5;
    border-radius: 15px;
  }
  
  .button-five {
    background-color: #50d8d7;
    border-radius: 25px;
  } 