body {
    font-family: Arial, sans-serif;
    background-color: #B4E051;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    max-width: 50%;
}

.images {
    display: flex;
}

.section {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

h2 {
    color: #1E5B0F;
    margin-bottom: 15px;
}

p {
    text-align: justify;
    line-height: 1.4;
    margin-bottom: 15px;
}

.maathai-image {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}