/* green.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    color: #333;
}

h1 {
    text-align: center;
    background-color: #B4E051;
    color: #fff;
    padding: 20px;
    margin: 0;
}

h2 {
    background-color: #B4E051;
    color: #fff;
    padding: 10px;
    margin: 0;
}

h3 {

}

p {
    padding: 10px;
}

.info {
    width: 80%;
    margin: 20px auto;
    
}

.WomenPlantingTrees {
    height: 50%;
}

.subsection {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    
}

.centerheading {
    text-align: center;
    margin: 0 auto;
}
button {
    height: 50px;
    width: 50px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
  
  .button-one {
    background-color: #293132;
    
  }
  
  .button-two {
    background-color: #474044;
    border-radius: 5px;
  }
  
  .button-three {
    background-color: #B4E051;
    border-radius: 10px;
    
  }
  
  .button-four {
    background-color: #547aa5;
    border-radius: 15px;
  }
  
  .button-five {
    background-color: #50d8d7;
    border-radius: 25px;
  } 