body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Set your background color */
    color: #000000; /* Set your default text color */
}

header {
    background-color: #B4E051; /* Set your decorative color for the header */
    padding: 20px;
    text-align: center; /* Center text in the header */
}

h1 {
    color: #ffffff; /* Set your heading color */
    text-align: center; /* Center text in the main heading */
}

.decorative-box {
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

h2.green-text {
    background-color: #B4E051; /* Set your green background color for interheadings */
    color: #ffffff; /* Set white text color for interheadings */
    padding: 10px; /* Add padding to make it visually appealing */
    margin-bottom: 10px; /* Add margin to separate headings from text */
}

p {
    background-color: #ffffff; /* Set your white background color for text */
    line-height: 1.5;
    margin-bottom: 15px;
    padding: 10px; /* Add padding to make it visually appealing */
    text-align: left; /* Align text in the paragraphs to the left */
}

.audiosection {
  display: flex;
  justify-content: row;
  align-items: center;
}

audio {
  width: 100%;
      background-color: #B4E051;
      border-radius: 50px;
      padding: 10px;
      outline: none;
}

button {
  height: 50px;
  width: 50px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.button-one {
  background-color: #293132;
  
}

.button-two {
  background-color: #474044;
  border-radius: 5px;
}

.button-three {
  background-color: #B4E051;
  border-radius: 10px;
  
}

.button-four {
  background-color: #547aa5;
  border-radius: 15px;
}

.button-five {
  background-color: #50d8d7;
  border-radius: 25px;
} 