body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: green;
  border-end-start-radius: 50px;
  border-top-right-radius: 50px;
}

details {
  margin-bottom: 20px;
}

summary {
  background-color: #B4E051;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

p {
  background-color: #EDF8E1;
  padding: 10px;
  border-radius: 5px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 50px;
}

figure {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

figcaption {
  display: block;
  align-self: center;
  background-color: #B4E051;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}

button {
  height: 50px;
  width: 50px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.button-one {
  background-color: #293132;
  
}

.button-two {
  background-color: #474044;
  border-radius: 5px;
}

.button-three {
  background-color: #B4E051;
  border-radius: 10px;
  
}

.button-four {
  background-color: #547aa5;
  border-radius: 15px;
}

.button-five {
  background-color: #50d8d7;
  border-radius: 25px;
} 