body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(55,214,14,1) 50%, rgba(2,0,36,1) 100%);
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}

.prizes-container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #B4E051;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    order: 2;
}

#leftImageContainer {
    display: flex;
    flex-direction: column;
    margin: 50px;
    order: 1;
    justify-content: space-evenly;
}

#rightImageContainer {
    display: flex;
    flex-direction: column;
    margin: 50px;
    order: 3;
    justify-content: space-evenly;
}

h1 {
    color: #333;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
    background-color: #fff; /* White background for each prize item */
    padding: 8px;
    border-radius: 4px;
}

#leftImageContainer img {
  max-width: 400px;
  border-end-end-radius: 100px;
  border-start-start-radius: 100px;
}

#rightImageContainer img {
  max-width: 400px;
  border-end-start-radius: 100px;
  border-start-end-radius: 100px;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

figcaption {
  background-color: #B4E051;
  padding: 10px;
  max-width: 200px;
  align-self: center;
  border-radius: 20px;
  margin: 30px;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }
  
  button:focus {
    outline: 0;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    color: white;
  }
  
  button {
    height: 50px;
    width: 50px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
  
  .button-one {
    background-color: #293132;
    
  }
  
  .button-two {
    background-color: #474044;
    border-radius: 5px;
  }
  
  .button-three {
    background-color: #B4E051;
    border-radius: 10px;
    
  }
  
  .button-four {
    background-color: #547aa5;
    border-radius: 15px;
  }
  
  .button-five {
    background-color: #50d8d7;
    border-radius: 25px;
  } 